@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'GamePage.css';
@import './OnScreenKeyboard.scss';
@import './ReferModal.scss';
@import './SwapModal.scss';
@import './GenerateWallet.scss';
@font-face {
  font-family: "Futura";
  src: url("../fonts/futura_light.ttf") format("truetype"); /* Safari, Android, iOS */
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Futura", cursive;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
