.keyboard-rows {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  margin-bottom: 10px;
}
.row {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.key_btn {
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  background: #ffffff;
  height: 70px;
  width: 70px;
  font-size: 1.25em;
  border: none;
  text-transform: uppercase;
  color: #000;
  border-radius: 50%;
}

.key-special {
  background-color: #fade42;
  color: #000;
  width: 100px;
  border-radius: 50px;
}
.key-correct {
  background: #42d941 !important;
  color: #ffffff !important;
}

.key-present {
  background: #0098ea !important;
  color: #ffffff !important;
}

.key-absent {
  background: #ea4200 !important;
  color: #ffffff !important;
}

@media (min-width: 100px) and (max-width: 720px) {
  .keyboard-rows {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    margin-bottom: 10px;
  }
  .row {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  .key_btn {
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    background: #ffffff;
    height: 32px;
    width: 32px;
    font-size: 1.15em;
    border: none;
    text-transform: uppercase;
    color: #000;
    border-radius: 50%;
  }
  .key-special {
    background-color: #fade42;
    color: #000;
    width: 60px;
    border-radius: 50px;
    font-size: 0.9em;
  }
}
