.swapc {
  @apply w-full h-full flex flex-col items-center rounded-xl p-6 text-black;
  background-color: #fade42;
  &_title {
    @apply text-xl font-bold;
    color: #0098ea;
  }
  &_subtitle {
    @apply flex flex-col text-base  font-light justify-center items-center my-3;
    line-height: 100%;
  }
  &_infoc {
    @apply flex w-full flex-col gap-1 justify-center font-light my-3;
    font-size: 10px;
    &_detail {
      @apply flex gap-2 items-center;
    }
  }
  &_convertc {
    @apply flex w-full items-center justify-between px-4 my-4;
  }
  &_convertb{
    @apply cursor-pointer w-32;
    &_disabled{
        @apply opacity-50 pointer-events-none;
    }
  }
}
.inb {
  @apply h-16 w-16 bg-white rounded-lg relative flex justify-center items-center text-xl font-bold;
}
.balance{
    @apply mt-2;
    font-size: 8px;
}